<!--<header class="header-4">
  <div class="branding">
    <a href="..." class="nav-link">
      <span class="clr-icon clarity-logo"></span>
      <span class="title">Network of Giving</span>
    </a>
  </div>
  <div class="header-actions">
    <clr-dropdown>
      <button class="nav-text" clrDropdownTrigger aria-label="open user profile">
        <clr-icon shape="user"></clr-icon>
        Sign In
        <clr-icon shape="caret down"></clr-icon>
      </button>
      <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
        <a href="/login" clrDropdownItem>Sign In</a>
        <a href="/registration" clrDropdownItem>Create an account</a>
      </clr-dropdown-menu>
    </clr-dropdown>
  </div>
</header>-->
<div class="content-container">
  <div class="content-area">
    <!-- Your Content Goes Here-->
    <div class="component-container">
      <app-logged-user-header></app-logged-user-header>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
<!--<app-login-form></app-login-form>-->
<!--<app-registration-form></app-registration-form>-->
